* {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  position: relative;
}

.infomation {
  position: absolute;
  right: 0;
  width: 180px;
  -webkit-transform: translate(120%, 0);
          transform: translate(120%, 0);
}

.score-and-time {
  border: 3px solid gray;
  padding: 5px 10px;
}

.control-key-box {
  margin-top: 20px;
  padding: 5px;
  border: 3px solid gray;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.control-key-box > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.control-key-box .key {
  border: black 2px solid;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  margin: 1px;
}
.control-key-box .small-key {
  width: 25px;
  height: 25px;
}
.control-key-box .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.control-key-box .arrows .first-line,
.control-key-box .arrows .second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.control-key-box .space-key {
  width: 75px;
  height: 25px;
}

.scoreBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
.scoreBox .score {
  font-size: 36px;
  margin-bottom: 1rem;
}

.timeBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.timeBox .timerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.timeBox .gameTimer {
  width: 50px;
}
.timeBox .gameTimer.warning {
  color: red;
}
.timeBox .gameTimer .sec {
  font-size: 25px;
}
.timeBox .timePlusAlert {
  height: 15px;
  width: 50px;
  position: absolute;
  left: 100%;
  top: 70%;
}
.timeBox .timePlusAlert span {
  color: blue;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
  bottom: 0%;
}
.timeBox .timePlusAlert span.up {
  bottom: 100%;
  opacity: 0.2;
}

.matrix {
  position: relative;
}
.matrix > ul {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: solid 3px gray;
}
.matrix ul li:first-child ul li, .matrix ul li:nth-child(2) ul li {
  background-color: gray;
}
.matrix ul li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.matrix ul li ul li {
  margin: 1.5px;
  height: 25px;
  width: 25px;
}

.matrix .startAlertBox {
  font-size: 30px;
  font-weight: bold;
  color: blueviolet;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}
.matrix .startAlertBox.show {
  display: block;
}

.startBtn {
  font-size: 20px;
  padding: 10px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.startBtn.hidden {
  display: none;
}

.gameOver {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.764);
  color: white;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gameOver.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blink {
  -webkit-animation: blink 0.1s step-end infinite;
          animation: blink 0.1s step-end infinite;
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
/* BLOCKS */
.matrix .blockT {
  background-color: rgb(255, 0, 0);
  outline: black solid 3px;
}
.matrix .blockO {
  background-color: rgb(254, 246, 21);
  outline: black solid 3px;
}
.matrix .blockZ {
  background-color: rgb(126, 64, 232);
  outline: black solid 3px;
}
.matrix .blockS {
  background-color: rgb(62, 255, 252);
  outline: black solid 3px;
}
.matrix .blockJ {
  background-color: rgb(210, 46, 255);
  outline: black solid 3px;
}
.matrix .blockL {
  background-color: rgb(255, 40, 147);
  outline: black solid 3px;
}
.matrix .blockI {
  background-color: rgb(255, 127, 127);
  outline: black solid 3px;
}
.matrix .preview {
  background-color: rgba(0, 0, 0, 0.374);
  outline: black;
}