* {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  height: 100vh;
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: transparent;
}
.score {
  font-size: 36px;
  margin-bottom: 2rem;
}
.sec {
  font-size: 25px;
}
.matrix {
  position: relative;
}
.matrix > ul > li > ul {
  display: flex;
}
.matrix > ul > li > ul > li {
  outline: solid 1px gray;
  height: 25px;
  width: 25px;
}
.matrix > ul > li:first-child > ul > li,
.matrix > ul > li:nth-child(2) > ul > li {
  /* background-color: black; */
  outline: none;
}
.matrix .startAlertBox {
  font-size: 30px;
  font-weight: bold;
  color: blueviolet;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.matrix .startAlertBox.show {
  display: initial;
}
.startBtn {
  margin-top: 30px;
  font-size: 20px;
  padding: 10px 15px;
}

.gameOver {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.764);
  color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gameOver.show {
  display: flex;
}
/* BLOCKS */
.blockT {
  background-color: rgb(255, 0, 0);
}
.blockO {
  background-color: rgb(254, 246, 21);
}
.blockZ {
  background-color: rgb(126, 64, 232);
}
.blockS {
  background-color: rgb(62, 255, 252);
}
.blockJ {
  background-color: rgb(210, 46, 255);
}
.blockL {
  background-color: rgb(255, 40, 147);
}
.blockI {
  background-color: rgb(255, 127, 127);
}

.preview {
  background-color: rgba(0, 0, 0, 0.374);
}
