:root {
  --box-border-color: #000000;
  --box-bg-color: #d2d2d2;
  --box-border-radius: 15px;
  --text-shadow-color: #222222;
}
@mixin font-shadow($width, $color) {
  text-shadow: -0 0 $width $color, 0 0 $width $color, 0 0 $width $color, 0 0 $width $color;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #00213a;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  // margin-bottom: 4rem;
  position: relative;
}
.logo {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translate(-100%, -50%);
  .speed {
    color: white;
  }
  .tetris {
    // width: 500px;
    background: linear-gradient(
      to right,
      #cf2522,
      #f48fb1,
      #7e57c2,
      #2196f3,
      #26c6da,
      #43a047,
      #eeff41,
      #f9a825,
      #ff5722
    );
    background-clip: text;
    color: transparent;
  }
}

.infomation {
  position: absolute;
  right: 0;
  width: 180px;
  transform: translate(120%, 0);
  .info-box {
    box-shadow: 3px 3px 0 1px black;
  }
}
.score-and-time {
  width: 130px;
  border: 3px solid var(--box-border-color);
  background-color: var(--box-bg-color);
  border-radius: var(--box-border-radius);
  padding: 5px 10px;
  font-weight: bold;
  .scoreBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    .score {
      font-size: 35px;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
}

.timeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .timerBox {
    display: flex;
  }
  .gameTimer {
    width: 50px;
    &.warning {
      color: red;
    }
    .sec {
      font-size: 35px;
      font-weight: bold;
    }
  }
  .timePlusAlert {
    height: 15px;
    width: 50px;
    position: absolute;
    left: -10%;
    top: 70%;
    span {
      font-size: 20px;
      font-weight: bold;
      text-shadow: -0 0 2px var(--text-shadow-color), 0 0 2px var(--text-shadow-color),
        0 0 2px var(--text-shadow-color), 0 0 2px var(--text-shadow-color);
      color: rgb(0, 255, 47);
      position: absolute;
      transition: all 1s;
      opacity: 1;
      bottom: 0%;

      &.up {
        bottom: 100%;
        opacity: 0.2;
      }
    }
  }
}

.control-key-box {
  margin-top: 20px;
  padding: 5px;
  border: 3px solid var(--box-border-color);
  background-color: var(--box-bg-color);
  border-radius: var(--box-border-radius);
  height: 220px;
  display: grid;
  grid-template-columns: 2fr 1.3fr;
  grid-template-rows: 1fr 1fr 1fr;
  .gridBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 40px;
  }

  .key {
    background-color: white;
    border: black 2px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    // padding: 5px;
    font-weight: bold;
    margin: 1px;
    box-shadow: 2px 2px 0px 0px black;
  }
  .small-key {
    width: 25px;
    height: 25px;
  }
  .arrows {
    display: flex;
    flex-direction: column;
    .first-line,
    .second-line {
      display: flex;
      justify-content: center;
    }
  }
  .space-key {
    width: 75px;
    height: 25px;
  }
}

.button {
  font-size: 18px;
  // font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100px;
  height: 60px;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background 0.1s;
  &:hover {
    background-color: rgb(196, 196, 196);
  }
}

.matrix {
  position: relative;
  > ul {
    box-sizing: content-box;
    border: solid 1.5px black;
    background-color: rgb(0, 0, 0);
  }
  ul li {
    ul li {
      background-color: rgb(20, 20, 20);
    }
  }
  ul li {
    &:first-child,
    &:nth-child(2) {
      ul li {
        background-color: gray;
        // outline: none;
        // z-index: 1;
      }
    }
    ul {
      display: flex;
      li {
        margin: 1.5px;
        height: 25px;
        width: 25px;
      }
    }
  }
}
.startAlertBox {
  font-size: 30px;
  font-weight: bold;
  color: rgb(33, 255, 51);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  &.show {
    display: block;
  }
}
.startBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &.hidden {
    display: none;
  }
  &:active {
    transform: translate(-50%, -50%) scale(0.95);
  }
}
.gameOver {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.764);
  color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > *:not(:last-child) {
    margin-bottom: 15px;
  }
  &.show {
    display: flex;
  }
  .endScore {
    font-size: 30px;
  }
  .restart {
    &:active {
      transform: scale(0.95);
    }
  }
}
.blink {
  animation: blink 0.1s step-end infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* BLOCKS */
@mixin block {
  outline: black solid 3px;
}

.matrix {
  .blockT {
    background-color: #922b8c !important;
    // outline: black solid 1px;
    @include block();
  }
  .blockO {
    background-color: rgb(254, 246, 21) !important;
    // outline: black solid 1px;
    @include block();
  }
  .blockZ {
    background-color: #ee2733 !important;
    // outline: black solid 1px;
    @include block();
  }
  .blockS {
    background-color: #4eb748 !important;
    // outline: black solid 1px;
    @include block();
  }
  .blockJ {
    background-color: #005a9d !important;
    // outline: black solid 1px;
    @include block();
  }
  .blockL {
    background-color: #f89622 !important;
    // outline: black solid 1px;
    @include block();
  }
  .blockI {
    background-color: #2bace2 !important;
    // outline: black solid 1px;
    @include block();
  }

  .preview {
    background-color: rgba(0, 0, 0, 0.374);
    outline: black;
  }
}
